// Animations
$generic-duration: .5s;
$loading-pacman-duration: 1s;

// Colors
$black: #000;
$blue: #2121ff;
$logo-black: #231f20;
$logo-red: #6dbf5a;
$logo-yellow: #0a5c36;
$transparent-gray: rgba(255, 255, 255, .25);
$white: #fff;
$yellow: #0a5c36;
